.env

# Old works
app copy.js
script.js
test.js

# Credentials
credentials.json
googlekey.json

# Older html pages that will be vanished
main-old.html

# Python codes
pythoncodes.ipynb

# Temporarily CSS
bootstrap.css
bootstrap.min.css

# Test folder
/test
/node_modules